section.task-list {
  background: var(--shapes);
  border-radius: 1rem;
  margin-top: -10rem;
  padding: 70px 60px;
  filter: drop-shadow(0px 24px 64px rgba(0, 0, 0, 0.06));
  
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    h2 {
      color: var(--text-title);
      font-size: 2.25rem;
    }
  }

  main {
    margin-top: 3rem;

    .container-form {
      border-radius: 0.5rem;
      border: 1px solid #d1d1d1;
      padding: 10px;

      p {
        color: red;
        padding: 10px;
      }
    }

    .input-textarea {
      display: flex;
      align-items: flex-end;

      button {
        margin-bottom: 10px;
      }
    }

    .input-url-topic {
      display: flex;
      gap: 0.25rem; 
      align-items: center; 
      background: #fff;
      font-size: 16px;
    }

    ul {
      list-style: none;
      margin-top: 30px;
      border-radius: 0.5rem;
      border: 1px solid #d1d1d1;
      padding: 0 1rem;
  
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #EBEBEB;
        padding: 1rem ;

        div {
          display: flex;
          align-items: center;
          gap: 14px;
          outline: 0;

          p {
            font-size: 1rem;
            color: var(--text);
          }
        }

        button {
          background: transparent;
          border: 0;

          svg {
            color: var(--red);
          }

          &:hover {
            svg {
              filter: brightness(0.5)
            }
          }
        }
      }
    } 
  }
}